.body { color: black; background: white; margin: 0 0 0 0 }

a:link img, a:visited img {border-style: none}

.title {
  color: black;
  font-family: "Georgia,Palatino,Times,Roman"; font-weight: bold;
  text-align: center;
  font-size: 35pt;
}

.box { border: solid 1px gray; 
       background: #eeeeee;
       padding: 0 0.5em 0 0.5em;
       display:table;
       font-size:20pt;
       font-weight: bold; 
}

.text { 
	text-align: left; 
	padding-left: 20pt
}

address img { float: right; width: 88px; height: 31px; }
address     { clear: right; }
